body {
    text-align: center;
    font-family: sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
}

canvas {
    border: 1px solid #d84747;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

animationCanvas {
    background-color: #d84747;
    color: #d84747;
}